.filtro {
    display: flex;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
    width: 100%;
}

.cabecalho-genero {
    display: flex;
    background-color: rgb(10, 9, 9);
    align-items: center;
    padding: 15px 20px;
    color: white;
}