.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #141414;
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .menu {
    margin-right: auto;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    cursor: pointer;
    transition: color 0.3s;
  }
  
  nav ul li:hover {
    color: #e50914;
  }